html, body{
            width: 100%;
            height: 100%;
            margin: 0;

        }
        body{     
            display: flex;       
            justify-content: center;
            align-items: center;
            background-color: gray;}
        #console{
            display:flex;
            background-color: red;
            width:300px;
            height: 500px;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            border-radius: 5px;
            box-shadow: 0px 2px 10px black
        }
        #screen{
            display:flex;
            flex-direction: column;

            background-color:aliceblue;
            width:80%;
            height: 225px;
            margin: 0px 0px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px black;
            top:0;
        }
        #console-body{
            background-color: black;
            width: 80%;
            height: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(255,255,255,.8)
        }
        .console-box{
            display:flex;
            width: 100%;
            height: 75px;
            
            justify-content: center;
            align-items: center;
        }
        .button-option{
            background-color: aliceblue;
            height: 70%;
            width: 70%;
            border-radius: 15px;
            box-shadow: 0px 1px 5px rgba(255,255,255,.8)
            
        }
        .button-option:hover{
            cursor: pointer;
            background-color:lightgray;
        }
        #console-controls{
            width:80%;
            height:50px;

            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            align-content: center;
            
        }
        .button-controls{
            text-align: center;
            height: 20px;
            max-width: 60px;
            border-radius: 5px;
            background-color: aliceblue;
        }
        
        #back{
            margin-left:20px;
        }
        .letter{
            height:25px;
            width:25px;
            border-radius: 50%;
        }
        #back:hover{cursor: pointer;background-color:lightgray;}
        #A:hover{cursor: pointer;background-color:aquamarine;}
        #B:hover{cursor: pointer;background-color:deeppink;}
