.results{
    max-width:213px;
    padding-left:10px;
    padding-right:10px;
    height:30px;
    background-color:gray;
    color:white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 8px;
    grid-column:span 2;
    overflow: auto;
    white-space: nowrap;
    text-align: left;
   scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE and Edge */
}
.results::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.calculator{
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 0fr;
    gap:5px;
    white-space: nowrap;
    
}
.nums{

    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    column-gap: 5px;
}
.equals{
    display: grid;   
}
.operators{
    display: grid;
    gap: 5px;
}